<footer>
  <div class="container">
    <hr>
    <center>
      <small>Drazen's demo application</small>
    </center>
  </div>
</footer>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>