<form autocomplete="off" onsubmit="return false;">
  <span>Search:</span>
  <input type="text" id="searchInput">
  <button type="button" id="firstPageBtn">First</button>
  <button type="button" id="prevPageBtn">Prev</button>
  <span>Page</span>
  <input type="number" id="pageNoInput" min=1 step=1>
  <span id="totalPagesSpan"></span>
  <button type="button" id="nextPageBtn">Next</button>
  <button type="button" id="lastPageBtn">Last</button>
  <span>Page Size:</span>
  <select id="pageSizeSelect">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <span id="totalRecordsSpan"></span>
  <span>Order By:</span>
  <select id="orderBySelect"></select>
</form>