<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <ul>
    <% data.forEach(user => { %>
      <li><%= user.username %></li>
    <% }); %>
  </ul>
</body>
</html>