<%- include('../head-no-bootstrap') %>
<body>
  <h1><%= title %></h1>
  <div id="myGrid" style="height: 450px"></div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/w2ui.js"></script>
<script>
  (function() {
    function setGrid() {
      $('#myGrid').w2grid({
        name: 'myGrid',
        header: 'Countries',
        recid: 'id',
        method: 'post',
        url: 'countries',
        limit: 25,
        show : { 
          toolbar: true,
          footer: true,
          toolbarAdd: true,
          toolbarDelete: true,
          toolbarSave: true,
          toolbarEdit: false,
          selectColumn: true,
          multiselect: true,
        },
        columns: [
          { field: 'id', caption: 'ID', size: '10%', sortable: true},
          { field: 'code', caption: 'Country Code', size: '30%', sortable: true, editable: { type: 'text' }},
          { field: 'name', caption: 'Country Name', size: '70%', sortable: true, editable: { type: 'text' }},
        ],
        searches: [
          { field: "id", type: "int", caption: "ID" },
          { field: "code", type: "text", caption: "Country Code" },
          { field: "name", type: "text", caption: "Country Name" },
        ],
        sortData: [
          { field: 'id', direction: 'asc' },
          { field: 'code', direction: 'asc' },
          { field: 'name', direction: 'asc' },
        ],
        onAdd: function(event) {
          console.log(w2ui.myGrid);
          w2ui.myGrid.add({recid: 0, code: null, name: null}, true);
        },
      });
    }
    setGrid();
  })();
</script>
<%- include('../footer-no-bootstrap') %>