<%- include('../head') %>
<body>
  <div class="container">
    <h1><%= title %></h1>
  </div>
  <div class="container">
    <a href="/countries/add" class="btn btn-primary">Add</a>
  </div>
  <div class="container">
    <%- include('../paginator') %>
    <table class="table table-striped table-hoover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="dataTable"></tbody>
    </table>
  </div>
  <script src="javascripts/paginator.js"></script>
  <script>
    (function(app) {
      function createTableRow(country) {
        var tr = document.createElement('tr');

        var td = document.createElement('td')
        td.innerHTML = country.id;
        tr.appendChild(td);

        td = document.createElement('td')
        td.innerHTML = country.code;
        tr.appendChild(td);

        td = document.createElement('td')
        td.innerHTML = country.name;
        tr.appendChild(td);

        var editA = document.createElement('a');
        editA.innerHTML = 'Edit';
        editA.setAttribute('href', '/countries/edit?id=' + encodeURI(country.id));
        editA.setAttribute('class', 'btn btn-secondary btn-sm');

        var deleteA = document.createElement('a');
        deleteA.innerHTML = 'Delete';
        deleteA.setAttribute('href', '/countries/delete?id=' + encodeURI(country.id));
        deleteA.setAttribute('class', 'btn btn-danger btn-sm');

        td = document.createElement('td')
        td.appendChild(editA)
        td.appendChild(deleteA)
        tr.appendChild(td);
        return tr;
      }

      var paginatorConfig = {
        tableId: 'dataTable',
        createTableRow: createTableRow,
        uri: '/countries/data',
        sortableColumns: [
          { name: 'Code', column: 'code', direction: 'ASC' },
          { name: 'Code', column: 'code', direction: 'DESC' },
          { name: 'Name', column: 'name', direction: 'ASC' },
          { name: 'Name', column: 'name', direction: 'DESC' },
          { name: 'ID', column: 'id', direction: 'ASC' },
          { name: 'ID', column: 'id', direction: 'DESC' },
        ],
      };

      app.startPaginator(paginatorConfig, function() {
        console.log('Paginator started.');
      });
    })(window.APP);
  </script>
</body>
<%- include('../footer') %>