<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <%- include('../paginator') %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="dataTable"></tbody>
  </table>
  <script src="javascripts/paginator.js"></script>
  <script>
    (function(app) {
      function createTableRow(country) {
        var tr = document.createElement('tr');

        var td = document.createElement('td')
        td.innerHTML = country.id;
        tr.appendChild(td);

        td = document.createElement('td')
        td.innerHTML = country.code;
        tr.appendChild(td);

        td = document.createElement('td')
        td.innerHTML = country.name;
        tr.appendChild(td);

        td = document.createElement('td')
        td.innerHTML = 'Edit Delete';
        tr.appendChild(td);
        return tr;
      }

      var paginatorConfig = {
        tableId: 'dataTable',
        createTableRow: createTableRow,
        uri: '/countries/data',
      };

      app.startPaginator(paginatorConfig, function() {
        console.log('Paginator started.');
      });
    })(window.APP);
  </script>
</body>
</html>