<%- include('../head-no-bootstrap') %>
<body>
  <h1><%= title %></h1>
  <div id="myGrid" style="height: 450px"></div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/w2ui.js"></script>
<script>
  (function() {
    function setGrid() {
      $('#myGrid').w2grid({
        name: 'myGrid',
        header: 'Users',
        recid: 'id',
        method: 'post',
        url: 'users',
        limit: 25,
        show : { 
          toolbar : true ,
          footer: true,
          toolbarAdd: true,
          toolbarDelete: true,
          toolbarSave: true,
          toolbarEdit: false,
          selectColumn: true,
          multiselect: true,
        },
        columns: [
          { field: 'id', caption: 'ID', size: '10%', sortable: true},
          { field: 'username', caption: 'User Name', size: '30%', sortable: true, editable: { type: 'text' }},
          { field: 'email', caption: 'Email', size: '50%', sortable: true, editable: { type: 'text' }},
          { field: 'role', caption: 'Role', size: '10%', sortable: true, editable: { type: 'text' }},
        ],
        searches: [
          { field: "id", type: "int", caption: "ID" },
          { field: "username", type: "text", caption: "User Name" },
          { field: "email", type: "text", caption: "Email" },
          { field: "role", type: "text", caption: "Role" },
        ],
        sortData: [
          { field: 'id', direction: 'asc' },
          { field: 'username', direction: 'asc' },
          { field: 'email', direction: 'asc' },
          { field: 'role', direction: 'asc' },
        ],
        onAdd: function(event) {
          w2alert('add');
        },
      });
    }
    setGrid();
  })();
</script>
<%- include('../footer-no-bootstrap') %>