<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <%- include('../paginator'); %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="dataTable"></tbody>
  </table>
  <script src="javascripts/paginator.js"></script>
  <script>
    (function(app) {
      function createTableRow(user) {
        var tr = document.createElement('tr');

        var td = document.createElement('td')
        td.innerHTML = user.id;
        tr.appendChild(td);

        td = document.createElement('td')
        td.innerHTML = user.username;
        tr.appendChild(td);

        td = document.createElement('td')
        td.innerHTML = user.email;
        tr.appendChild(td);

        td = document.createElement('td')
        td.innerHTML = user.role;
        tr.appendChild(td);

        td = document.createElement('td')
        td.innerHTML = 'Edit Delete';
        tr.appendChild(td);
        return tr;
      }

      var paginatorConfig = {
        tableId: 'dataTable',
        createTableRow: createTableRow,
        uri: '/users/data',
        sortableColumns: [
          { name: 'User Name', column: 'username', direction: 'ASC' },
          { name: 'User Name', column: 'username', direction: 'DESC' },
          { name: 'Email', column: 'email', direction: 'ASC' },
          { name: 'Email', column: 'email', direction: 'DESC' },
          { name: 'Role', column: 'role', direction: 'ASC' },
          { name: 'Role', column: 'role', direction: 'DESC' },
          { name: 'ID', column: 'id', direction: 'ASC' },
          { name: 'ID', column: 'id', direction: 'DESC' },
        ],
      };

      app.startPaginator(paginatorConfig, function() {
        console.log('Paginator started.');
      });
    })(window.APP);
  </script>
</body>
</html>